.card {
  border: 2px solid black;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  background-color: lightblue;
}

.name1 {
  color: blue;
  font-size: 25px;
}

.course {
  color: green;
  font-size: 18px;
}

.level {
  color: purple;
  font-size: 18px;
}
